#congratulationscont {
    display: flex;
    height: 88%;
    width: 100%;
    /* background-color: azure; */
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#congratsdetails {
    display: flex;
    height: 100%;
    width: 33.3333%;
    justify-content: center;
    align-items: center;
}

#congratsheader {
    display: flex;
    height: 30%;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
#continueShopping{
    display: flex;
    height: 6%;
    width: 10%;
    justify-content: center;
    align-items: center;
    background-color: #3371B5;
    border: none;
    color: white;
    border-radius: 3px;
    margin-top: 1%;
}